.hero-image {
    width: 85px;
    background-position-x: center;
    background-position-y: 55%;
    background-size: 65px;
    background-repeat: no-repeat;
    padding: 0 3px;
}
.hero-selector-container {
    position: relative;
    cursor: pointer;
}
