.highlight {
    font-weight: bold;
    color: #b13030;
}
.faq-list{
    li {
        line-height: 1.8;
        padding-bottom: 15px;
    }
}
.list-header {
    font-weight: bold;
}
mat-divider{
    margin: 5px 0 15px;
}