<h2>Tips for new player</h2>
<ul class="faq-list">
    <li><span class="list-header">Ruby-Shop</span>: Optional, but very useful time saver and helps the devs, buy the
        "Remove Ad Package" from Ruby Shop. Permanent
        double speed, instant ad rewards, and no ads for auto-battle time.</li>

    <li><span class="list-header">Spend rubies</span>: Use rubies earned in game (or paid) to buy <span
            class="highlight">extra daily ticket upgrades</span> for
        everything in the Ruby Shop, these upgrades are <span class="highlight">PERMANENT</span></li>

    <li><span class="list-header">Expedition, Portal, Event Dungeon</span>: Push your <span
            class="highlight">Expeditions, Portals, and Event Dungeons</span> to the max possible before the
        reset of <span class="highlight">each day</span>. If you can't go any further, then sweep before reset.</li>

    <li><span class="list-header">King's Ruins</span>: Wait to do your <span class="highlight">King's Ruins</span> until
        a few hours before reset or up to the hour before, as your King's Ruins
        <span class="highlight">scales to your furthest stage reached</span>(it is speculated) at the beginning of each
        reset. It is best to lose
        before using heals, as it makes the round easier the second attempt.
    </li>

    <li><span class="list-header">Conquest</span>: Push Conquest as much as possible and upgrade to max 10 immediately
        when possible, the idle revenue is too good
        to pass up, especially with late game needs for Ascension Stones. Use your highest rarity tiered characters for
        the highest unlocked castle.</li>

    <li><span class="list-header">Castle defense</span>: Castle Defense is not very useful in the early-mid game, highly
        advise against dumping rubies into this at any
        point.</li>

    <li><span class="list-header">Gear/Hero summon seals</span>: It's always good to hold on to your Gear Seals and wait to
        reach the next gear tiers unlocked by hitting the
        stage shown when viewing the Summon boxes, then dumping your seals. As with Hero Seals, save and only buy Ultra
        Summons.</li>

    <li><span class="list-header">Archer gear</span>: Archer gear should always focus on crafting for S ranks (special
        traits are a bonus) and pushing them to at
        least +4 in the early game as they cannot fail. Once you're further in the game +7 is relatively easy to do for
        each gear piece with minimal effort. Do not waste enhancement stones until much later when you will be pushing
        for S grade Special Trait gear sets to +12 and promoting (somewhere beyond 5000+ stages)or whenever you feel it
        is necessary for progressing.</li>

    <li><span class="list-header">Auto battle</span>: Auto-Battle, doing these will let you earn more income to upgrade
        more often than idle income and you'll earn
        more much quicker, recommend using it and auto-skills. If you bought the Remove Ad Package, you won't need to
        deal with watching ads to upkeep this and the double speed. If you hit your limit, run repeat battles on a stage
        that ends in 5 or 0 as you'll distribute your gear drops evenly. You can raise or lower stages to target
        specific drops.</li>

    <li><span class="list-header">Be patient</span>: The game is a marathon, not a race. Each bit of stage progression
        will take a little longer than the last, have
        patience and good luck!</li>
</ul>
<div>Credits to <a href="https://www.reddit.com/r/IdleKingdom/comments/rvnby6/tips_for_new_players/">u/zschopf1</a>
</div>
<mat-divider></mat-divider>
<h2>What to spend rubies on?</h2>
<p>Just follow this list</p>
<ol>
    <li> tickets</li>
    <li>Hill of heroes tickets</li>
    <li>Auto battle gold</li>
    <li>Auto battle soulstone</li>
    <li>Rest of tickets</li>
    <li>Auto battle time</li>
</ol>
<div>Credits to <a href="https://www.reddit.com/r/IdleKingdom/comments/rvunt2/ruby_store_upgrade_order/">u/FlyingHippo657</a>
