<mat-toolbar color="primary" class="toolbar-height">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Idle Kingdom Ressources</span>
</mat-toolbar>
<mat-sidenav-container heigth="90vh">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/hero-cost-calculator'"> Hero Cost Calculator </a>
      <a mat-list-item href="https://discord.gg/KMbhHrZrHF"> Join the discord </a>
      <a mat-list-item href="https://www.reddit.com/r/IdleKingdom/"> Join reddit </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="toolbar-height">
  <mat-toolbar-row>
    <span><small>All rights belong to <a href="https://play.google.com/store/apps/dev?id=4782903676457533844">&copy; StormX</a></small></span>
  </mat-toolbar-row>
</mat-toolbar>