.content-container {
    margin: 20px auto;
    width: 80vw;
}
.toolbar-height {
    height: 5vh;
}
.mat-drawer-container.mat-sidenav-container {
    height: 90vh;
}
.toolbar-link-icon {
    padding: 8px;
}
.spacer {
    flex: 1 1 auto;
}
.link-button {
    display: flex;
    height: 100%;
}
.link-icon {
    height: 100%;
    padding: 3px 15px 3px 0;
    box-sizing: border-box;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 5px 16px;
}
.hide-on-mobile {
    @media screen and (max-width: 500px) {
        display: none;
    }
}
