<div>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="0" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(0)">
    </app-star>
</div>
<div class="ascension-stars">
    <app-star [starLevel]="currentStarLevel" [borderLevel]="1" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(1)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="2" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(2)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="3" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(3)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="4" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(4)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="5" [selectedIcon]="'assets/iconStarBig1.png'"
        (click)="select(5)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="6" [selectedIcon]="'assets/iconStarBig2.png'"
        (click)="select(6)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="7" [selectedIcon]="'assets/iconStarBig2.png'"
        (click)="select(7)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="8" [selectedIcon]="'assets/iconStarBig2.png'"
        (click)="select(8)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="9" [selectedIcon]="'assets/iconStarBig2.png'"
        (click)="select(9)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="10" [selectedIcon]="'assets/iconStarBig2.png'"
        (click)="select(10)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="11" [selectedIcon]="'assets/iconStarBig3.png'"
        (click)="select(11)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="12" [selectedIcon]="'assets/iconStarBig3.png'"
        (click)="select(12)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="13" [selectedIcon]="'assets/iconStarBig3.png'"
        (click)="select(13)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="14" [selectedIcon]="'assets/iconStarBig3.png'"
        (click)="select(14)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="15" [selectedIcon]="'assets/iconStarBig3.png'"
        (click)="select(15)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="16" [selectedIcon]="'assets/iconStarBig4.png'"
        (click)="select(16)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="17" [selectedIcon]="'assets/iconStarBig4.png'"
        (click)="select(17)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="18" [selectedIcon]="'assets/iconStarBig4.png'"
        (click)="select(18)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="19" [selectedIcon]="'assets/iconStarBig4.png'"
        (click)="select(19)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="20" [selectedIcon]="'assets/iconStarBig4.png'"
        (click)="select(20)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="21" [selectedIcon]="'assets/iconStarBig5.png'"
        (click)="select(21)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="22" [selectedIcon]="'assets/iconStarBig5.png'"
        (click)="select(22)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="23" [selectedIcon]="'assets/iconStarBig5.png'"
        (click)="select(23)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="24" [selectedIcon]="'assets/iconStarBig5.png'"
        (click)="select(24)">
    </app-star>
    <app-star [starLevel]="currentStarLevel" [borderLevel]="25" [selectedIcon]="'assets/iconStarBig5.png'"
        (click)="select(25)">
    </app-star>
</div>